<a href="https://colab.research.google.com/github/mars241/PYTHON/blob/main/AAM_WCS_Python_Shorthand_syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Challenge Python - Shorthand syntax
Crée un notebook sur Google Colab, et essaye de réaliser chacune des missions suivantes avec une syntaxe classique et ensuite avec une syntaxe courte en une seule ligne.

Une fonction qui convertit des montants en dollars vers des montants en euros (prends le cours euro/dollar du jour où tu fais la quête).
Une fonction qui renvoie la somme des nombres pairs présents dans une liste contenant des nombres entiers.
Une fonction qui convertit une liste de nombres entiers positifs ou négatifs) en une nouvelle liste contenant leurs valeurs absolues.
Tu peux prendre la liste suivante pour exemple :
`test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]`

In [22]:
# Une fonction qui convertit des montants en dollars vers des montants en euros (prends le cours euro/dollar du jour où tu fais la quête).
# Au 01/02/2023 :1 Dollar américain ($) égal 0,92 Euro (€)

euros = int(input(" Entrez SVP le montant en (€) à convertir : "))

def conv_euros_dollars(euros):
  dollars = euros*0.92
  return dollars

 Entrez SVP le montant en (€) à convertir : 500

In [24]:
# Suite: Faire Une fonction qui convertit des montants en dollars vers des montants en euros
# Tester la fct de conversion d'euros (€) en dollars ($) :

euros = int(input(" Entrez SVP le montant en (€) à convertir : "))

def conv_euros_dollars(euros):
  dollars = euros*0.92
  return dollars

conv_euros_dollars(euros)
print(euros, "€ vallent", conv_euros_dollars(euros), "$")

 Entrez SVP le montant en (€) à convertir : 500
500 € vallent 460.0 $

In [15]:
# Une fonction qui renvoie la somme des nombres pairs présents dans une liste contenant des nombres entiers.

lst = [68, 68, 68, 99, 65, 44, 77, 44, 44]

def sum_lst_pair(lst):
    pair = []
    for x in lst :
        if(x%2 == 0):# nombre dont le reste par 2 est 0
            pair.append(x)
    print("La liste des entiers pair est : ",pair)
    return sum_lst_pair

In [16]:
# Tester l'algorithme de tri de nombres paires dans une liste
sum_lst_pair([68, 68, 68, 99, 65, 44, 77, 44, 44])

La liste des entiers pair est :  [68, 68, 68, 44, 44, 44]

In [17]:
# Suite: somme de nombres paires dans une liste donné
pair = [68, 68, 68, 44, 44, 44]
tot = 0 # initialisation du paramètre somme
for i in pair :
  tot = tot + i # somme des éléments paires
print('la somme des entiers paires de la liste est:', tot )

la somme des entiers paires de la liste est: 336

In [3]:
# Une fonction qui convertit une liste de nombres entiers positifs ou négatifs) en une nouvelle liste contenant leurs valeurs absolues.
# Tu peux prendre la liste suivante pour exemple :
#`test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]`


#Méthode n°1 : Utilisationmap() + abs()
#Cette tâche peut également être effectuée à l’aide de map().
# Comme ci-dessus, la tâche de mapconsiste à étendre la logique des nombres absolus à chaque élément de la liste.

# Code Python3 pour démontrer le fonctionnement de
# Valeur absolue des éléments d'une liste
# en utilisant map() + abs()
# initialisation de la liste
test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]
  
# imprimer la liste originale
print("La liste originale est : " + str(test_list))
  
# Valeur absolue des éléments de la liste
# en utilisant map() + abs()
res = list(map(abs, test_list))
  
# impression du résultat
print("Liste des valeurs absolues : " + str(res))

La liste originale est : [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]
Liste des valeurs absolues : [0, 3, 6, 9, 12, 15, 18, 21, 24, 27]