<a href="https://colab.research.google.com/github/mars241/PYTHON/blob/main/AAM_WCS_Python_and_the_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

# Mission 1

Créez un tuple de votre choix contenant 10 éléments dans cet ordre :
- 3 entiers
- 3 chaînes de caractères
- 2 listes contenant chacune 3 éléments
- 2 dictionnaires contenant chacun 3 éléments (3 paires clé/valeur)

In [14]:
tuple1 = (8, 7, 6, 
          "Ville", "Région", "Pays", 
          ["Paris", "Lyon", "Bordeaux"], ["Franceville", "Libreville", "Port-Gentil"], 
          {"France":"Paris" ,"Allemagne":"Berlin", "Italie":"Venise"}, {"Gabon":"Libreville", "Côte d'ivoire":"Abidjan" , "Congo":"Pointe-Noire"})

In [5]:
# Definition notre dictionnaire
mon_dictionnaire = dict() # on peu aussi ici mettre ici "= {}" à la place de "dict()"

# Ajoutons les valeurs dans notre dictionnaire crée:
mon_dictionnaire["France"]="Paris"
mon_dictionnaire["Allemagne"] = "Berlin"
mon_dictionnaire["Italie"] = "Venise" 
mon_dictionnaire["Gabon"] = "Libreville"
mon_dictionnaire["Côte d'ivoire"] ="Abidjan"
mon_dictionnaire["Congo"] ="Pointe-Noire"

print(mon_dictionnaire)

{'France': 'Paris', 'Allemagne': 'Berlin', 'Italie': 'Venise', 'Gabon': 'Libreville', "Côte d'ivoire": 'Abidjan', 'Congo': 'Pointe-Noire'}

In [21]:
tuple1 = (8, 7, 6, 
          "Ville", "Région", "Pays", 
          ["Paris", "Lyon", "Bordeaux"], ["Franceville", "Libreville", "Port-Gentil"], 
          mon_dictionnaire)

Now, access the second-to-last item in the second list.

Maintenant, accédez à l'avant-dernier élément de la deuxième liste.

In [12]:
#position 0: 8; position 1: 7;... position 6 :["Paris", "Lyon", "Bordeaux"] et position 7 :["Franceville", "Libreville", "Port-Gentil"]
print((tuple1[7])[1])

Libreville

In [13]:
# Pour accèder à une clé & valeur du dictionnaire:
for key, values in mon_dictionnaire.items(): # pour accèder aux clés on mets ".keys()" et pour les valeurs ".values():" à la place de "items()"
    print(key, values)

France Paris
Allemagne Berlin
Italie Venise
Gabon Libreville
Côte d'ivoire Abidjan
Congo Pointe-Noire

# Mission 2

In the same tuple, access the last 4 elements using slicing.

# Mission 2

Dans le même tuple, accédez aux 4 derniers éléments en utilisant le slicing.

In [15]:
print(tuple1[-5:-1])

('Pays', ['Paris', 'Lyon', 'Bordeaux'], ['Franceville', 'Libreville', 'Port-Gentil'], {'France': 'Paris', 'Allemagne': 'Berlin', 'Italie': 'Venise'})

# Mission 3

Change the value of the 4th element (the first string) of your tuple (since tuples are immutable, this means recreating a tuple where this element is changed).

# Mission 3

Changez la valeur du 4ème élément (la première chaîne) de votre tuple (puisque les tuples sont immuables, cela signifie recréer un tuple où cet élément est changé).

In [23]:
# créeons d'abord une copie du Tuple à modifier, puis apportons notre modification
y = list(tuple1)
y[3] = "Commune"
tuple1 = tuple(y)

print(tuple1)

(8, 7, 6, 'Commune', 'Région', 'Pays', ['Paris', 'Lyon', 'Bordeaux'], ['Franceville', 'Libreville', 'Port-Gentil'], {'France': 'Paris', 'Allemagne': 'Berlin', 'Italie': 'Venise', 'Gabon': 'Libreville', "Côte d'ivoire": 'Abidjan', 'Congo': 'Pointe-Noire'})

# Mission 4

Create 2 tuples of the same length that contain only integers.

Then create a script that compares the sum of their elements and displays the tuple that has the highet total.

# Mission 4

Créez 2 tuples de même longueur qui ne contiennent que des entiers.

Créez ensuite un script qui compare la somme de leurs éléments et affiche le tuple qui a le total le plus élevé.

In [25]:

tuple2 = (2, 4, 1, 9, 5, 10, 90, 14, 6, 8)
tuple3 = (55, 30, 4, 12, 3, 5, 1, 9, 11, 2)

res1 = sum(list(tuple2))
res2 = sum(list(tuple3))

if res1 > res2:
  print("La somme du Tuple1 est : ", res1 ,", Et le tuple2 a un total supérieur au tuple3")
else:
  print("La somme du Tuple1 est : ", res2 ,", Et le tuple3 a un total supérieur au tuple2")

La somme du Tuple1 est :  149 , Et le tuple2 a un total supérieur au tuple3

# Mission 5

Here's a tuple:

`my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")`

Ask the user for a string, then for an integer position. Create an altered copy of `my_tuple` where the element at the given position is now the given string.

# Mission 5

Voici un tuple :

`mon_tuple = ("data analyst", "data scientist", "data engineer", "data architect")`

Demandez à l'utilisateur une chaîne de caractères, puis une position entière. Créez une copie modifiée de `mon_tuple` où l'élément à la position donnée est maintenant la chaîne donnée.

In [29]:
my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

string = str(input("Entrez le nom d'un métier autour de la data: "))
integer = int(input("Entrez un entier compris entre 0 et 3 tout deux inclus !: "))

x = list(my_tuple)
x.insert(integer, string)

my_tuple = tuple(x)
print(my_tuple)

Entrez le nom d'un métier autour de la data: Data Steward
Entrez un entier compris entre 0 et 3 tout deux inclus !: 3
('data analyst', 'data scientist', 'data engineer', 'Data Steward', 'data architect')