<a href="https://colab.research.google.com/github/mars241/PYTHON/blob/main/AFaire_Python_and_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Now, iterate on this string to count only non-space characters.

Remember, using a `for` loop on a string will browse all the individual characters of it!

Now, count only non-space characters and display how many there is.
Remember, using a for loop on a string will browse all the individual characters of it!

In [ ]:
s = "Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu "

98

Now, count only non-space characters and display how many there is.
Remember, using a for loop on a string will browse all the individual characters of it!

In [ ]:
s = "Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu "

13

# Mission 2

Ask the user for a string, then for a character (we assume user input follows the rules). Then, display the positions, **starting with 1**, of all occurrences of the character within the string.

For example, for the word "welcome" and for the character "e", the script will display:
```
position: 2
position: 7
```

# Mission 3

Ask the user for a string, then for an integer. Then, display the string repeated as many times as the given integer.

For example, `badger` and `4` will display `badgerbadgerbadgerbadger`

# Mission 4

Display the following string without including the spaces at the beginning and end. There's a `string` method that does exactly that, look at the documentation!

In [ ]:
s = "   Data Analyst  "

Data Analyst

# Mission 5

Ask the user for a string, then for a character, then for another character.

Then, display the first string where the occurences of the first character are replaced by the second one.

# Mission 6

Ask the user for a string. Then, display the same string with all vowels converted to uppercase, and all consonants converted to lowercase.