<a href="https://colab.research.google.com/github/mars241/PYTHON/blob/main/Corrig%C3%A9_de_2022_12_15_Support_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Variable : kézako ?**

**Qu'est-ce qu'une variable ?** Un espace dans lequel on peut stocker une ou des valeurs.

**Quels types de valeurs peut-elle contenir ?** des entiers (int), des chaînes de caractère (str), des listes, des booléens (bool), des tuples, des sets, des dictionnaires (dict) (liste non exhaustive !)

### **Types de variables**

**Qu'est-ce qu'une liste ?** Une séquence de données **mutable** et ordonnée.

In [ ]:
# On peut extraire des éléments précis grâce à leur index
vegetation = ['arbre', 'feuille', 'plante']
vegetation[0]

'arbre'

In [ ]:
# On peut aussi extraire une section de la liste
# afficher les éléments de la position 1 jusqu'à la fin de la liste :
vegetation[1:]

['feuille', 'plante']

In [ ]:
# afficher le dernier élément
vegetation[-1]

'plante'

In [ ]:
# NB : ça marche aussi avec les chaînes de caractères
mot = "fleur"
print(mot[3])
print(mot[1:4])

u
leu

**Qu'est-ce qu'un tuple ?** Une séquence d'éléments **non mutable** et **ordonnée**.

**Quelle(s) différence(s) avec une liste ?** Non mutable = on ne peut pas changer les valeurs qui s'y trouvent.

In [ ]:
# L'extraction de données fonctionne de la même manière qu'avec les listes
cd = ('The Beatles', 'Yellow Submarine', 1969)
print(cd[1])
print(cd[1:])

Yellow Submarine
('Yellow Submarine', 1969)

**Qu'est-ce qu'un set ?** Une séquence d'éléments **mutable** et **non ordonnée.**

**Quelle(s) différence(s) avec une liste ou un tuple ?** Un set ne contient que des **données uniques**.

In [ ]:
nombres_liste = [1, 1, 2, 3, 4, 5, 5]
nombres_set = set(nombres_liste)    # convertir la liste en set supprime les données dupliquées !
nombres_set

{1, 2, 3, 4, 5}

**Qu'est-ce qu'un dictionnaire ?** Une séquence d'éléments rangée sous forme de **clé** et de **valeurs**. Un dictionnaire est mutable (et ordonné depuis peu, mais il vaut mieux partir du principe qu'il ne l'est pas).

In [ ]:
miam = {'fruits': ['pomme', 'kiwi', 'poire'],
        'légumes': ['carotte', 'brocoli'],
        'fromages': []}

In [ ]:
# Lister les clés
miam.keys()

dict_keys(['fruits', 'légumes', 'fromages'])

In [ ]:
# Lister les fruits
miam['fruits']

['pomme', 'kiwi', 'poire']

In [ ]:
# Quel est le 2ème fruit ?
miam['fruits'][1]

'kiwi'

In [ ]:
# Combien y a-t-il de légumes ?
len(miam['légumes'])

2

In [ ]:
# Ajouter des fromages
miam['fromages'] = ['gorgonzola']   # on crée une liste composée d'un seul élément pour l'instant
miam

{'fruits': ['pomme', 'kiwi', 'poire'],
 'légumes': ['carotte', 'brocoli'],
 'fromages': ['gorgonzola']}

In [ ]:
# Ajouter un autre fromage
miam['fromages'].append('mozzarella')   # la VALEUR associée à la clé 'fromages' est une LISTE => fonction append pour ajouter un élément
miam

{'fruits': ['pomme', 'kiwi', 'poire'],
 'légumes': ['carotte', 'brocoli'],
 'fromages': ['gorgonzola', 'mozzarella']}

In [ ]:
# la preuve :
type(miam['fromages'])

list

In [ ]:
# Ajouter une nouvelle clé 'herbes', dont la valeur est une liste d'herbes
miam['herbes'] = ['persil', 'coriandre', 'ciboulette', 'menthe']
miam

{'fruits': ['pomme', 'kiwi', 'poire'],
 'légumes': ['carotte', 'brocoli'],
 'fromages': ['gorgonzola', 'mozzarella'],
 'herbes': ['persil', 'coriandre', 'ciboulette', 'menthe']}

## **Les conditions**

**Qu'est-ce qu'une condition ?** Une contrainte à respecter pour que l'instruction suivante s'exécute. Elle est analysée avec l'aide de comparateurs. La réponse à la condition est toujours un booléen : True si la condition est vérifiée, ou False si elle ne l'est pas.

**Quels sont les différents comparateurs ?**

* inférieur : <
* inférieur ou égal : <=
* supérieur : >
* supérieur ou égal : >=
* égal :  ==
* est contenu dans : in

*(liste non exhaustive)*

In [ ]:
a = 10
b = 4
c = 7

print("a est inférieur à b :", a < b)
print("c est supérieur ou égal à a :", c >= a)
print("b est égal à c :", b == c)
print("c est compris entre b et a :", b < c < a)

a est inférieur à b : False
c est supérieur ou égal à a : False
b est égal à c : False
c est compris entre b et a : True

In [ ]:
semaine = ["lundi", "mardi", "mercredi", "etc"]

print("La liste contient 'lundi' : ", "lundi" in semaine)
print("La liste contient 'Mardi' : ", "Mardi" in semaine)
print("La liste ne contient pas 'dimanche' : ", "dimanche" not in semaine)

La liste contient 'lundi' :  True
La liste contient 'Mardi' :  False
La liste ne contient pas 'dimanche' :  True

## **Les boucles**

**On ne peut boucler que sur des éléments itérables** (qui contiennent quelque chose). Par exemple, des chaînes de caractères, des listes, des dictionnaires... Un nombre entier ne contient rien : ce n'est pas un élément itérable.

In [ ]:
# Boucler sur une chaîne de caractères : deux façons
word = "Python"

# Soit sur les caractères qui la composent
print("Boucler sur les caractères : ")
for char in word:
  print(char)

print('')

# Soit sur leurs index
print("Boucler sur les index : ")
for i in range(len(word)):
  print(i)

Boucler sur les caractères :
P
y
t
h
o
n

Boucler sur les index :
0
1
2
3
4
5

In [ ]:
# On peut aussi boucler sur les deux à la fois (index + caractère correspondant) grâce à la fonction enumerate()
print("Boucler à la fois sur les index et les caractères :")
for i, char in enumerate(word):
  print(f"index {i} => lettre {char}")

Boucler à la fois sur les index et les caractères :
index 0 => lettre P
index 1 => lettre y
index 2 => lettre t
index 3 => lettre h
index 4 => lettre o
index 5 => lettre n

Écrire un programme permettant de calculer la somme des entiers entre 0 et 1000 (tous deux inclus) qui sont divisibles par 2 ou par 5, mais pas par 10 ?

*NB : pour vérifier que a est divisible par b, il faut que a % b soit égal à 0*

In [ ]:
total = 0

for i in range(1001):
  if (i % 5 == 0 or i % 2 == 0) and i % 10 != 0:
    total += i

print(total)

250000

##### **Boucle while**
En utilisant la boucle while, écrire un programme qui permet d'additionner des entiers au carré (en commençant par 1) jusqu'à ce que le total dépasse 300. Imprimez le total final et le dernier nombre à être élevé au carré .

In [ ]:
# Il faut démarrer un compteur, dans ce cas on part de 0
total = 0

# On veut itérer sur des entiers, en commençant par 1
n = 1

# "jusqu'à ce que le total dépasse 300" est équivalent à "TANT QUE le total est inférieur à 300"
# "tant que" => boucle while

while total <= 300:
  total += n**2
  print(f"Quand n = {n}, total = {total} (on a ajouté au total précédent n^2 = {n**2})")
  n += 1

print('')
print("Total final :", total)
print("Dernier nombre à avoir été élevé au carré :", n-1)

Quand n = 1, total = 1 (on a ajouté au total précédent n^2 = 1)
Quand n = 2, total = 5 (on a ajouté au total précédent n^2 = 4)
Quand n = 3, total = 14 (on a ajouté au total précédent n^2 = 9)
Quand n = 4, total = 30 (on a ajouté au total précédent n^2 = 16)
Quand n = 5, total = 55 (on a ajouté au total précédent n^2 = 25)
Quand n = 6, total = 91 (on a ajouté au total précédent n^2 = 36)
Quand n = 7, total = 140 (on a ajouté au total précédent n^2 = 49)
Quand n = 8, total = 204 (on a ajouté au total précédent n^2 = 64)
Quand n = 9, total = 285 (on a ajouté au total précédent n^2 = 81)
Quand n = 10, total = 385 (on a ajouté au total précédent n^2 = 100)

Total final : 385
Dernier nombre à avoir été élevé au carré : 10

In [ ]:
# n est systématiquement incrémenté de 1, donc à la fin de la boucle n est passé à 11
# Mais une fois que n = 11, le total est égal à 385, il dépasse 300, donc Python ne rentre plus dans la boucle while
# Le dernier nombre à être élevé au carré est 10, c'est-à-dire n-1

## **Bonus**

Utiliser le slicing pour inverser les chiffres d'un nombre. Par exemple, 67531 devient 13576

In [ ]:
# Exemple sur une chaîne de caractères:
mot = "bonjour"
mot[::-1]     # On va du début à la fin du mot, mais à l'envers

'ruojnob'

In [ ]:
# Mais ça ne marche pas avec un entier, parce que ce n'est pas un élément itérable
x = 67531
x[::-1]

TypeError: ignored

In [ ]:
# Il faut donc d'abord convertir l'entier en chaîne
x = str(x)
x = x[::-1]
x

'13576'

In [ ]:
# Puis le reconvertir si besoin en entier
x = int(x)
x

13576